# Stuff Lending Test Report


Version : #86448b20 (git commit link: https://gitlab.lnu.se/1dv607/student/jw223jc/a2/-/commit/86448b20bcc2b4b51b8c3e7919447e9b5a48a2ba)

![Test report](img/assign2_testReport.png)
